[
  {
    "colorName": "pink",
    "color": "#ffeaea",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#ffeaea",
      "titleBar.inactiveBackground": "#ffeaea",
      "titleBar.activeForeground": "#1e1e1e",
      "titleBar.inactiveForeground": "#6d6c6f",
      "statusBar.background": "#ffeaea"
    },
    "projectPath": []
  },
  {
    "colorName": "green",
    "color": "#f2ffea",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#f2ffea",
      "titleBar.inactiveBackground": "#f2ffea",
      "titleBar.activeForeground": "#1e1e1e",
      "titleBar.inactiveForeground": "#6d6c6f",
      "statusBar.background": "#f2ffea"
    },
    "projectPath": []
  },
  {
    "colorName": "blue",
    "color": "#eafeff",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#eafeff",
      "titleBar.inactiveBackground": "#eafeff",
      "titleBar.activeForeground": "#1e1e1e",
      "titleBar.inactiveForeground": "#6d6c6f",
      "statusBar.background": "#eafeff"
    },
    "projectPath": []
  },
  {
    "colorName": "skyblue",
    "color": "#eaf6ff",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#eaf6ff",
      "titleBar.inactiveBackground": "#eaf6ff",
      "titleBar.activeForeground": "#1e1e1e",
      "titleBar.inactiveForeground": "#6d6c6f",
      "statusBar.background": "#eaf6ff"
    },
    "projectPath": []
  },
  {
    "colorName": "purple",
    "color": "#eceaff",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#eceaff",
      "titleBar.inactiveBackground": "#eceaff",
      "titleBar.activeForeground": "#1e1e1e",
      "titleBar.inactiveForeground": "#6d6c6f",
      "statusBar.background": "#eceaff"
    },
    "projectPath": []
  },
  {
    "colorName": "lavender",
    "color": "#feeaff",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#feeaff",
      "titleBar.inactiveBackground": "#feeaff",
      "titleBar.activeForeground": "#1e1e1e",
      "titleBar.inactiveForeground": "#6d6c6f",
      "statusBar.background": "#feeaff"
    },
    "projectPath": []
  },
  {
    "colorName": "rose",
    "color": "#ffeaf2",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#ffeaf2",
      "titleBar.inactiveBackground": "#ffeaf2",
      "titleBar.activeForeground": "#1e1e1e",
      "titleBar.inactiveForeground": "#6d6c6f",
      "statusBar.background": "#ffeaf2"
    },
    "projectPath": []
  },
  {
    "colorName": "red",
    "color": "#ffeaeb",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#ffeaeb",
      "titleBar.inactiveBackground": "#ffeaeb",
      "titleBar.activeForeground": "#1e1e1e",
      "titleBar.inactiveForeground": "#6d6c6f",
      "statusBar.background": "#ffeaeb"
    },
    "projectPath": []
  }
]
