[
  {
    "colorName": "gray",
    "color": "#F8F8FA",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#F8F8FA",
      "titleBar.inactiveBackground": "#F8F8FA",
      "titleBar.activeForeground": "#1e1e1e",
      "titleBar.inactiveForeground": "#6d6c6f",
      "statusBar.background": "#F8F8FA",
      "statusBar.foreground": "#1e1e1e"
    },
    "projectPath": []
  },
  {
    "colorName": "yellow",
    "color": "#FDF2CE",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#FDF2CE",
      "titleBar.inactiveBackground": "#FDF2CE",
      "titleBar.activeForeground": "#1e1e1e",
      "titleBar.inactiveForeground": "#6d6c6f",
      "statusBar.background": "#FDF2CE",
      "statusBar.foreground": "#1e1e1e"
    },
    "projectPath": []
  },
  {
    "colorName": "orange",
    "color": "#FCEBD3",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#FCEBD3",
      "titleBar.inactiveBackground": "#FCEBD3",
      "titleBar.activeForeground": "#1e1e1e",
      "titleBar.inactiveForeground": "#6d6c6f",
      "statusBar.background": "#FCEBD3",
      "statusBar.foreground": "#1e1e1e"
    },
    "projectPath": []
  },
  {
    "colorName": "red",
    "color": "#FBE6E7",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#FBE6E7",
      "titleBar.inactiveBackground": "#FBE6E7",
      "titleBar.activeForeground": "#1e1e1e",
      "titleBar.inactiveForeground": "#6d6c6f",
      "statusBar.background": "#FBE6E7",
      "statusBar.foreground": "#1e1e1e"
    },
    "projectPath": []
  },
  {
    "colorName": "pink",
    "color": "#FBE6F1",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#FBE6F1",
      "titleBar.inactiveBackground": "#FBE6F1",
      "titleBar.activeForeground": "#1e1e1e",
      "titleBar.inactiveForeground": "#6d6c6f",
      "statusBar.background": "#FBE6F1",
      "statusBar.foreground": "#1e1e1e"
    },
    "projectPath": []
  },
  {
    "colorName": "purple",
    "color": "#FCEBFE",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#FCEBFE",
      "titleBar.inactiveBackground": "#FCEBFE",
      "titleBar.activeForeground": "#1e1e1e",
      "titleBar.inactiveForeground": "#6d6c6f",
      "statusBar.background": "#FCEBFE",
      "statusBar.foreground": "#1e1e1e"
    },
    "projectPath": []
  },
  {
    "colorName": "violet",
    "color": "#F1EEFE",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#F1EEFE",
      "titleBar.inactiveBackground": "#F1EEFE",
      "titleBar.activeForeground": "#1e1e1e",
      "titleBar.inactiveForeground": "#6d6c6f",
      "statusBar.background": "#F1EEFE",
      "statusBar.foreground": "#1e1e1e"
    },
    "projectPath": []
  },
  {
    "colorName": "blue",
    "color": "#E2F5FE",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#E2F5FE",
      "titleBar.inactiveBackground": "#E2F5FE",
      "titleBar.activeForeground": "#1e1e1e",
      "titleBar.inactiveForeground": "#6d6c6f",
      "statusBar.background": "#E2F5FE",
      "statusBar.foreground": "#1e1e1e"
    },
    "projectPath": []
  },
  {
    "colorName": "green",
    "color": "#E3FDDF",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#E3FDDF",
      "titleBar.inactiveBackground": "#E3FDDF",
      "titleBar.activeForeground": "#1e1e1e",
      "titleBar.inactiveForeground": "#6d6c6f",
      "statusBar.background": "#E3FDDF",
      "statusBar.foreground": "#1e1e1e"
    },
    "projectPath": []
  },
  {
    "colorName": "cyan",
    "color": "#D3FEFE",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#D3FEFE",
      "titleBar.inactiveBackground": "#D3FEFE",
      "titleBar.activeForeground": "#1e1e1e",
      "titleBar.inactiveForeground": "#6d6c6f",
      "statusBar.background": "#D3FEFE",
      "statusBar.foreground": "#1e1e1e"
    },
    "projectPath": []
  }
]
