[
  {
    "colorName": "pink",
    "color": "#5a244a",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#5a244a",
      "titleBar.inactiveBackground": "#5a244a",
      "titleBar.activeForeground": "#f3f3f5",
      "titleBar.inactiveForeground": "#a8a8ad",
      "statusBar.background": "#5a244a",
      "statusBar.foreground": "#f3f3f5"
    },
    "projectPath": []
  },
  {
    "colorName": "green",
    "color": "#2f4323",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#2f4323",
      "titleBar.inactiveBackground": "#2f4323",
      "titleBar.activeForeground": "#f3f3f5",
      "titleBar.inactiveForeground": "#a8a8ad",
      "statusBar.background": "#2f4323",
      "statusBar.foreground": "#f3f3f5"
    },
    "projectPath": []
  },
  {
    "colorName": "blue",
    "color": "#355859",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#355859",
      "titleBar.inactiveBackground": "#355859",
      "titleBar.activeForeground": "#f3f3f5",
      "titleBar.inactiveForeground": "#a8a8ad",
      "statusBar.background": "#355859",
      "statusBar.foreground": "#f3f3f5"
    },
    "projectPath": []
  },
  {
    "colorName": "skyblue",
    "color": "#233543",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#233543",
      "titleBar.inactiveBackground": "#233543",
      "titleBar.activeForeground": "#f3f3f5",
      "titleBar.inactiveForeground": "#a8a8ad",
      "statusBar.background": "#233543",
      "statusBar.foreground": "#f3f3f5"
    },
    "projectPath": []
  },
  {
    "colorName": "purple",
    "color": "#262343",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#262343",
      "titleBar.inactiveBackground": "#262343",
      "titleBar.activeForeground": "#f3f3f5",
      "titleBar.inactiveForeground": "#a8a8ad",
      "statusBar.background": "#262343",
      "statusBar.foreground": "#f3f3f5"
    },
    "projectPath": []
  },
  {
    "colorName": "lavender",
    "color": "#422343",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#422343",
      "titleBar.inactiveBackground": "#422343",
      "titleBar.activeForeground": "#f3f3f5",
      "titleBar.inactiveForeground": "#a8a8ad",
      "statusBar.background": "#422343",
      "statusBar.foreground": "#f3f3f5"
    },
    "projectPath": []
  },
  {
    "colorName": "rose",
    "color": "#793c52",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#793c52",
      "titleBar.inactiveBackground": "#793c52",
      "titleBar.activeForeground": "#f3f3f5",
      "titleBar.inactiveForeground": "#a8a8ad",
      "statusBar.background": "#793c52",
      "statusBar.foreground": "#f3f3f5"
    },
    "projectPath": []
  },
  {
    "colorName": "red",
    "color": "#5a1f24",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#5a1f24",
      "titleBar.inactiveBackground": "#5a1f24",
      "titleBar.activeForeground": "#f3f3f5",
      "titleBar.inactiveForeground": "#a8a8ad",
      "statusBar.background": "#5a1f24",
      "statusBar.foreground": "#f3f3f5"
    },
    "projectPath": []
  }
]
