[
  {
    "colorName": "gray",
    "color": "#2E2E32",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#2E2E32",
      "titleBar.inactiveBackground": "#2E2E32",
      "titleBar.activeForeground": "#f3f3f5",
      "titleBar.inactiveForeground": "#a8a8ad",
      "statusBar.background": "#2E2E32",
      "statusBar.foreground": "#f3f3f5"
    },
    "projectPath": []
  },
  {
    "colorName": "yellow",
    "color": "#322A10",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#322A10",
      "titleBar.inactiveBackground": "#322A10",
      "titleBar.activeForeground": "#f3f3f5",
      "titleBar.inactiveForeground": "#a8a8ad",
      "statusBar.background": "#322A10",
      "statusBar.foreground": "#f3f3f5"
    },
    "projectPath": []
  },
  {
    "colorName": "orange",
    "color": "#342010",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#342010",
      "titleBar.inactiveBackground": "#342010",
      "titleBar.activeForeground": "#f3f3f5",
      "titleBar.inactiveForeground": "#a8a8ad",
      "statusBar.background": "#342010",
      "statusBar.foreground": "#f3f3f5"
    },
    "projectPath": []
  },
  {
    "colorName": "red",
    "color": "#38141A",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#38141A",
      "titleBar.inactiveBackground": "#38141A",
      "titleBar.activeForeground": "#f3f3f5",
      "titleBar.inactiveForeground": "#a8a8ad",
      "statusBar.background": "#38141A",
      "statusBar.foreground": "#f3f3f5"
    },
    "projectPath": []
  },
  {
    "colorName": "pink",
    "color": "#381428",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#381428",
      "titleBar.inactiveBackground": "#381428",
      "titleBar.activeForeground": "#f3f3f5",
      "titleBar.inactiveForeground": "#a8a8ad",
      "statusBar.background": "#381428",
      "statusBar.foreground": "#f3f3f5"
    },
    "projectPath": []
  },
  {
    "colorName": "purple",
    "color": "#2C1238",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#2C1238",
      "titleBar.inactiveBackground": "#2C1238",
      "titleBar.activeForeground": "#f3f3f5",
      "titleBar.inactiveForeground": "#a8a8ad",
      "statusBar.background": "#2C1238",
      "statusBar.foreground": "#f3f3f5"
    },
    "projectPath": []
  },
  {
    "colorName": "violet",
    "color": "#1C1838",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#1C1838",
      "titleBar.inactiveBackground": "#1C1838",
      "titleBar.activeForeground": "#f3f3f5",
      "titleBar.inactiveForeground": "#a8a8ad",
      "statusBar.background": "#1C1838",
      "statusBar.foreground": "#f3f3f5"
    },
    "projectPath": []
  },
  {
    "colorName": "blue",
    "color": "#122638",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#122638",
      "titleBar.inactiveBackground": "#122638",
      "titleBar.activeForeground": "#f3f3f5",
      "titleBar.inactiveForeground": "#a8a8ad",
      "statusBar.background": "#122638",
      "statusBar.foreground": "#f3f3f5"
    },
    "projectPath": []
  },
  {
    "colorName": "green",
    "color": "#163816",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#163816",
      "titleBar.inactiveBackground": "#163816",
      "titleBar.activeForeground": "#f3f3f5",
      "titleBar.inactiveForeground": "#a8a8ad",
      "statusBar.background": "#163816",
      "statusBar.foreground": "#f3f3f5"
    },
    "projectPath": []
  },
  {
    "colorName": "cyan",
    "color": "#0E2E36",
    "workbench.colorCustomizations": {
      "titleBar.activeBackground": "#0E2E36",
      "titleBar.inactiveBackground": "#0E2E36",
      "titleBar.activeForeground": "#f3f3f5",
      "titleBar.inactiveForeground": "#a8a8ad",
      "statusBar.background": "#0E2E36",
      "statusBar.foreground": "#f3f3f5"
    },
    "projectPath": []
  }
]
